<!DOCTYPE HTML>
<html>
<head>
	<title>Constancia</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <script src="https://www.google.com/recaptcha/api.js?render=6LdEnNsZAAAAAKotfjwOJsR4r8nvq5ADWhMZEqJ9"></script>

</head>
<body>
	<div class="header">
    </div>
    <div class="wrap">
        <header></header>
        <form action='/constancia-inscripcion' method="POST">
            {% csrf_token %}
            <label for="cuit">CUIT:</label>
            <input type="number" name="CUIT">

            <label for="email">Email:</label>
            <input type="text" name="Email">

            <input type="hidden" name="g-recaptcha-response" id='recaptcha'>

            <button type="submit"></button>
        </form>
          
    </div>



</body>
</html>